.message{
    width: 100%;
    display: flex;
    align-items: center;
    padding:10px 15px;
    column-gap: 20px;
}
.chat{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 0 auto;
}
.chatInput form{
    width: 100%;
    display: flex;
    height:30px;
}
.chatInput input{
    width: 100%;
    height: 100%;
    padding: 4px 12px;
}
.chatInput button{
    padding: 4px 12px;
}
.messages{
    overflow-y: auto;
    background-color: #E3FFF1;
    
}
.message img{
    border-radius: 50%;
    padding: 1rem;
    align-self: flex-start;
}
.message p{
    text-align: justify;
    background-color:white;
    border-radius: 20px;

}
.send{
    justify-content: flex-start;
    
    flex-direction: row-reverse;
}

.button-send{
    
}