.content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.primary-buttons{
    display: flex;
    justify-content:space-between;
    margin: 90px 100px;
    height: 50px;
    padding-right: 70px;
    background-color: transparent;
    border-radius: 70px;
    border-color:black;
    column-gap: 30px;

    

}

.primary-buttonse{
    display: flex;
    justify-content:space-between;
    margin: 90px 100px;
    height: 50px;
    padding-right: 70px;
    background-color: transparent;
    border-radius: 70px;
    border-color:black;
    column-gap: 30px;
}
.cards{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 128px;
    width: 100%;
    gap: 1.5rem;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px;
    
}
.card{
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    background-color: #8DC3A7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
    font-weight: 500;
    height: 100%;
}
.cards a{
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:640px) {
    .cards{
        grid-template-columns: 1fr;
    }
}

.image-oily{
    height: 50px;
    width: 50px;
}

.tituloskin{
    padding-left: 100px;
    padding-bottom: 60px;
    padding-top: 60;
    font-size:45px;
}
.button-inspiracion{
    font-size: 30px;
    background-color: transparent;
    border-radius: 8px;
    
}

.button-chat-publico{
    font-size: 30px; 
    background-color: transparent;
    border-radius: 8px;
}

.button-video{
    font-size: 20px; 
    background-color: transparent;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.pasos-home{
    padding: 3px;
    padding-left: 150px;
    padding-top: 5px;
    text-align: justify;
}

.img-youtube{
    height: 20px;
    width: 20px;
    justify-content: center;
    padding-top: 5.5px;
    padding-right: 1.5px;
    padding-bottom: -11.5px;
    padding-left: 1.5px;
}
