.header{
    background-color:#8DC3A7 ;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    height: 100%;
}
.header--logo{
    height: 100%;
    padding: 10px 0;
}

.logo--rutina--navbar{
    width: 30px;
    height: 30px;
}

.logo--user--navbar{
    width: 30px;
    height: 30px;
}

.logo--cuerpo--navbar{
    width: 30px;
    height: 30px;
}

.logo--logout--navbar{
    width: 30px;
    height: 30px;
}


.header--nav{
    display: flex;
    margin: auto 0;
    margin-right: 40px;
    height: 50px;
    column-gap: 40px;
    align-items: center;
}

.header--nav img{
    width: 40px;
    height: 40px;
}

.Logo-navbar{
    height:4em;
    width: 12em;
    padding-left: 2em;
    position:relative;
    left: 60px;
}


.titulobakimi{
    display: flex;
    align-items: center;
    position: relative;

    left: 10px;
}

.logo-bakimi-navbar{
    height: 2em;
    width: 2em;
}

.button-body{
    width: 4em;
    background-color: transparent;
    border: none;
    font-size: medium;
    justify-content: left;
}

.button-routines{
    width: 4em;
    background-color: transparent;
    border: none;
    font-size: medium;
    justify-content: left;

}

.button-logout{
    width: 4em;
    background-color: transparent;
    border: none;
    font-size: medium;
    justify-content: left;

}

.button-logonavbar{
    background-color: transparent;
    height: 5.5em;
}

.button-chat{
    background-color: transparent;
    border: none;
}

.logout{
    width: 4em;

}
.tittle-navbar{
    font-size: 45px;
    justify-content:left;
    text-decoration: none;
}

